@import "tailwindcss";

/* فونت‌ها */
@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/woff/IRANSansXFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/woff/IRANSansXFaNum-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/woff/IRANSansXFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/woff/IRANSansXFaNum-DemiBold.woff2') format('woff2');
}

html,
body {
  overflow-y: auto;
  height: 100vh;
}


#__next {
  height: 100%;
}




h1 {
  font-size: 20px !important;
}